doctype html
html
  body(style='margin: 0;font-family: Clan Pro Narrowfont-size: 1.2em;')
    header.text-center(style='padding: 1em;background-color: #464646;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 33.33%;')
        img(src=logo)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #000;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Olá, #{name}
      p Sua senha foi redefinida.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') Se você não pediu para receber este e-mail, por favor,
      p.text-small(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
        a(href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.', style='color: #6dbc44;') fale com a gente.
