body(style='margin: 0;font-family: Clan Pro Narrowfont-size: 1.2em;')
  header.text-center(style='padding: 1em;background-color: #464646;margin-bottom: 1em;text-align: center;')
    .logo(style='max-width: 33.33%;')
      img(src=logo)
  .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #000;')
    h1(style='font-family: Palatino;font-size: 1.5em;') Olá, #{name}
    p Sua senha foi alterada recentemente. Se você não pediu para receber este e-mail,
    p.text-small
      a(href='mailto:' + returnEmail + '?subject=I did not change my password&body=Someone unauthorized changed my password. Can you send me a reset link?') fale com a gente.

