doctype html
html
  body(style='margin: 0;font-family: Clan Pro Narrow;font-size: 1.2em;')
    header.text-center(style='padding: 1em;background-color: #464646;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 33.33%;')
        img(src=logo)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #000;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Olá, #{name}
      p(style="color: #464646;")
        | Obrigado por se cadastrar no Aetrapp. Por favor, confirme seu e-mail para que possa recuperar sua senha e receber notificações:
      a.reset-btn(href=hashLink, style='color: #6dbc44;display: block;text-align: center;text-decoration: none;padding: 0.5em;font-size: 1.2em;border: 5px solid #6dbc44;border-radius: 3px;margin: 1em;margin-right: auto;margin-left: auto;') Confirmar email
      p(style="color: #464646;")
        | Você pode usar a plataforma sem esta confirmação, mas não haverá como te enviar e-mails.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;')
        = 'Se você não pediu para receber este e-mail, '
        a(href='mailto:' + returnEmail + '?subject=Inscrição indevida no Aetrapp&body=Alguém se registrou indevidamente com meu e-mail na plataforma.', style='color: #6dbc44;') fale com a gente.
